* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-family: acumin-variable, sans-serif;
  font-style: normal;
  font-variation-settings: "slnt" 0, "wdth" 100, "wght" 194.2857;

}
body{ 
  overflow-x: hidden;
}
.App {
  color:var(--button-text);
  overflow-x: hidden !important;
  }
.horizontal-line {
  background-color:black !important;
}
.app-header {
  align-items: center !important;
  display: block !important;
  margin: 0 auto !important;
}
